# --- comunes ---
*.log
logs/
*.dmp

# --- secretos y entornos 
secrets.json
.env
.env.*
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Staging.json

# --- bases de datos y certs ---
*.mdf
*.ldf
*.bak
*.dacpac
*.bacpac
*.pfx
*.snk
*.key
*.pem
*.cer
*.crt

# --- IDE/build genéricos ---
.vs/
.vscode/
node_modules/
dist/
coverage/
.angular/
artifacts/
