# --- Angular / Node (mono o multi-proyecto) ---
**/dist/
**/out-tsc/
**/tmp/
**/.angular/
**/node_modules/

# --- Environments de Angular (no subir claves reales) ---
# Ignora todos los .ts de environments...
**/src/environments/*.ts
# ...pero mantiene un ejemplo de referencia
!**/src/environments/environment.example.ts

# --- IDE / SO ---
.vscode/
.idea/
.DS_Store
Thumbs.db
